* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --light: #f4f2f3;
  --primary: #c0a9bd;
  --secondary: #94a7ae;
  --third: #64766a;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--light);
}
header {
  text-align: center;
  background-image: radial-gradient(var(--light), var(--primary));
  color: var(--third);
}
header h1 {
  margin: 0 auto;
  padding: 10px;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header ul li a {
  text-decoration: none;
  padding: 10px 15px;
  font-size: 5vw;
  color: var(--third);
}
header ul li a:hover {
  color: var(--light);
  /* border: solid var(--secondary) 1px; */
}
#about {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-wrap: wrap;
}
#about img {
  width: 100%;
  margin: 0 15px;
  flex: 1;
}
#about p {
  line-height: 1.3;
  padding: 5px;
}
.headshot img {
  width: 100%;
}
#projects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#projects a {
  text-decoration: none;
  width: 45%;
  margin: 5px;
  height: 200px;
}
#projects a div {
  display: inline-block;
  padding: 5px;
  width: auto;
  margin-top: 20px;
  border: var(--secondary) solid 1px;
  background-color: var(--third);
}
#projects a:first-child {
  width: 100%;
}
.project {
  border: var(--secondary) solid 1px;
  background-size: cover;
  opacity: 0.9;
}
.project:hover {
  opacity: 1;
  border-color: var(--primary);
}
.run-buddy {
  background-image: url("../img/hero-bg.jpg");
}
#contact ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#contact ul li a {
  color: var(--third);
  text-decoration: none;
  font-size: 5vw;
}
#contact ul li a:hover {
  color: var(--light);
}
footer {
  padding: 15px;
  background-color: var(--primary);
}
@media screen and (min-width: 575px) {
  #about {
    flex-wrap: nowrap;
  }
  #contact ul li a,
  header ul li a {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}
